/* media query for preferred color scheme */
@media (prefers-color-scheme: dark) {
    :root {
        --clr-primary: #202230;
        --clr-secondary: #001001;
        --clr-accent: #ff7500;
        --background: var(--clr-dark);
        --foreground: var(--clr-light);
    }
}